<!DOCTYPE html>
<html>
  <head>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/inhalt.css' %}" />
  </head>

  <body>
    <!-- Header/Navbar start-->
    <header>
      <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="#">Fahrschulplaner</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Fahrschule</a>
            <a class="nav-item nav-link" href="#">Fahrschüler</a>
            <a class="nav-item nav-link" href="#">Preise</a>
            <a class="nav-item nav-link" href="/contact/">Kontakt</a>
            <a class="nav-item nav-link" href="/admin">Einloggen</a>
          </div>
        </div>
      </nav>
    </header>
    <!--Header/Navbar end-->
    <!--Main Content Blocker start-->
    <main>{% block page_content %} {% endblock page_content %}</main>
    <!--Main Content Blocker end-->
    <!--Footer start-->
    <div class="container my-5">
      <footer class="bg-light text-center text-black">
        <div class="container p-4 pb-0">
          <section class="mb-4">
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="https://instagram.com/kenkolino"
              target="_blank"
              role="button"
              ><i class="bi bi-instagram"></i
            ></a>

            <a
              class="btn btn-outline-light btn-floating m-1"
              href="https://linkedin.com/in/dennis-gärtig/"
              target="_blank"
              role="button"
            >
              <i class="bi bi-linkedin"></i>
            </a>

            <a
              class="btn btn-outline-light btn-floating m-1"
              href="https://github.com/KenKoLegend"
              target="_blank"
              role="button"
            >
              <i class="bi bi-github"></i>
            </a>
          </section>
        </div>

        <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2)"
        >
          © 2023 Copyright:
          <a class="text-white" href="#!">Dennis Gärtig</a>
        </div>
      </footer>
    </div>
    <!--Footer end-->
    <!--Javascript-->
    {% bootstrap_javascript %}
    <script src="" async defer></script>
  </body>
</html>
